@model IEnumerable<Post>

@{ 
    ViewBag.Title = "Blog Webiste";
    ViewBag.Description = "A simple blog about my path to becoming a software developer.";
    ViewBag.Keywords = "blog programing language learning family life";
    var base_path = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>


<div class="site-container">

    <div class="article-container">

    @foreach (var post in Model)
    {
        var image_path = $"{base_path}/Image/{post.Image}";
        
        <article class="article-card">
            <figure class="article-img">
                <img src="@image_path" alt="img">
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">@post.Category</a>
                <h3 class="card-title">@post.Title</h3>
                <p class="card-exerpt">
                    @post.Description
                </p>
                <span class="read-more-btn">
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">Read More</a>
                </span>
            </div>
        </article>
    }
    </div>
</div>